/*BUTTONS*/
.buttonTemplate1{
	-moz-box-shadow:inset 0px 1px 0px 0px #f4cafc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f4cafc;
	box-shadow:inset 0px 1px 0px 0px #f4cafc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eea1fc), color-stop(1, #ce72e0) );
	background:-moz-linear-gradient( center top, #eea1fc 5%, #ce72e0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eea1fc', endColorstr='#ce72e0');
	background-color:#eea1fc;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	text-indent:0;
	border:1px solid #dd5df4;
	display:inline-block;
	color:#ffffff;
	font-family:corbel,sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:36px;
	line-height:30px;
	min-width: 87px;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b63dcc;
	margin:0;
	padding-left:5px;
	padding-right:5px;
}
.buttonTemplate1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce72e0), color-stop(1, #eea1fc) );
	background:-moz-linear-gradient( center top, #ce72e0 5%, #eea1fc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce72e0', endColorstr='#eea1fc');
	background-color:#ce72e0;
	cursor:pointer;
}
.buttonTemplate1:focus {outline:0;}
.buttonTemplate2on{
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:corbel,sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:67px;
	line-height:60px;
	width:66px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	margin:0;
	padding:0;
	cursor:pointer;
}
.buttonTemplate2on:hover {
	-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
	box-shadow:inset 0px 1px 0px 0px #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #faecd5), color-stop(1, #f5c182) );
	background:-moz-linear-gradient( center top, #faecd5 5%, #f5c182 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faecd5', endColorstr='#f5c182');
	background-color:#faecd5;
	border:1px solid #fad291;
	color:#fb9e25;
	text-shadow:1px 1px 0px #fac576;
}
.buttonTemplate2on:focus {outline:0;}
.buttonTemplate2off{
	-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
	box-shadow:inset 0px 1px 0px 0px #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #faecd5), color-stop(1, #f5c182) );
	background:-moz-linear-gradient( center top, #faecd5 5%, #f5c182 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faecd5', endColorstr='#f5c182');
	background-color:#faecd5;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0px;
	border:1px solid #fad291;
	display:inline-block;
	color:#fb9e25;
	font-family:corbel,sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:67px;
	line-height:60px;
	width:66px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #fac576;
}
.buttonTemplate2off:focus {outline:0;}
/*END BUTTONS*/