.pencil{
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 0px;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFFFFF;
}
.readOnly{
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 0px;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFC2F1;
	cursor:default;
}
.notes{
	font-size: 12px;
	line-height: 1em;
	letter-spacing: 3px;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFFFFF;
}

.highlightPencil{
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 0px;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFCE70;
}
.highlightReadOnly{
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 0px;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFCE70;
	cursor:default;
}
.highlightErrorPencil{
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0px;
	border: 4px solid #F75B5B;
	width:29px;
	height:29px;
	background-color:#FFCE70;
}
.highlightErrorReadOnly{
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0px;
	border: 4px solid #F75B5B;
	width:29px;
	height:29px;
	background-color:#FFCE70;
	cursor:default;
}
.errorPencil{
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0px;
	border: 4px solid #F75B5B;
	width: 29px;
	height: 29px;
	background-color:#FFFFFF;
}
.errorReadOnly{
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0px;
	border: 4px solid #F75B5B;
	width: 29px;
	height: 29px;
	background-color:#FFC2F1;
	cursor:default;
}