html{
	margin:0;
	padding:0;
	font:16px corbel,sans-serif;
	background:	#FFFFFF url('../img/background2.jpg') no-repeat fixed;
	background-size:cover;
	height:100%;
	width:100%;
	overflow:hidden;
}
body{
	position: relative;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	text-align:center;
	overflow:hidden;
}

/*START PAGE*/
#startWrapper{
	position:relative;
	top:100px;
	overflow:hidden;
}
#startWrapper #startMenu{
	position:relative;
	float:left;
	min-width:400px;
	min-height:420px;
	padding:20px;
}
#startWrapper #startMenu #startLogo{
	position:relative;
	padding:20px;
	margin:0;
}
#startWrapper #startMenu #menuWrapper{
	position:relative;
	padding:20px;
	margin:0;
}
#startWrapper #startMenu #menuWrapper #leftColumn{
	display:inline-block;
	padding:10px;
	margin:0;
}
#startWrapper #startMenu #menuWrapper #rightColumn{
	display:inline-block;
	padding:10px;
	margin:0;
}
#startWrapper #startMenu #menuWrapper input{
	margin-top:10px;
	margin-bottom:10px;
}
#startWrapper #startMenu #startCopyright{
	padding:20px;
	margin:0;
	height:20px;
}
#startWrapper #startContent{
	display:none;
	position:relative;
	float:left;
	width:400px;
	min-height:420px;
	padding:20px;
}
#startWrapper #startContent h2{
	color:#dd5df4;
	font-family:corbel,sans-serif;
	font-size:20px;
	text-indent:0;
	margin:0;
	padding:20px;
}
#startWrapper #startContent p{
	color:black;
	font-family:corbel,sans-serif;
	font-size:16px;
	text-indent:0;
	text-align: left;
	margin:0;
	padding:5px 20px 5px 20px;
}
#startWrapper #startContent #statsWrapper{
	display:none;
	position:relative;
}
#startWrapper #startContent #settingsWrapper{
	display:none;
	position:relative;
}
#startWrapper #startContent #ruleWrapper{
	display:none;
	position:relative;
}
#startWrapper #startContent #aboutWrapper{
	display:none;
	position:relative;
}
#startWrapper #startContent #aboutWrapper #aboutSection{
	position:relative;
}
#startWrapper #startContent #aboutWrapper #arrowRightButton{
	position:relative;
	float:right;
	height:30px;
	width:30px;
	margin-right:20px;
	background-image: url('../img/rightarrow.png');
	background-size: contain;
	border-radius:10px;
	border:none;
}
#startWrapper #startContent #aboutWrapper #arrowLeftButton{
	display:none;
	position:relative;
	float:left;
	height:30px;
	width:30px;
	margin-left:20px;
	background-image: url('../img/leftarrow.png');
	background-size: contain;
	border-radius:10px;
	border:none;
}
#startWrapper #startContent #aboutWrapper #contactsSection{
	display:none;
	position:relative;
}
#startWrapper #startContent #aboutWrapper #contactsSection #contactsText{
	position:relative;
	float:left;
	margin-top:5px;
	width:230px;
}
#startWrapper #startContent #aboutWrapper #contactsSection #profilepic{
	position:relative;
	float:right;
	margin-top:5px;
}
/*END START PAGE*/
