.game {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
}

.game-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    @media screen and (orientation: portrait) and (max-width: 450px) {
        font-size: calc(0.5rem + 1.2vw);
    }

    @media screen and (orientation: landscape) and (max-height: 450px) {
        font-size: calc(0.5rem + 1.1vh);
    }

    .center {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;

        .dummy-block {
            width: 2.4375em;
            height: 20.5625em;
        }
    }
}
