.message-popup {
  position: fixed;
  right: 0;
  top: 1.875em;
  padding: 1.25em;
  width: 16.25em;
  background-color: #ecebeb;
  box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.45);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  font-size: 1rem;
  transform: translateX(0);
}
.message-popup.hidden {
  transform: translateX(100%);
  box-shadow: none;
}
.message-popup .message {
  font-size: 1.25em;
  color: #000000;
  cursor: default;
  padding-bottom: 0.5em;
}
.message-popup .buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 5em;
}
.message-popup .buttons .icon {
  fill: #ffffff;
  cursor: pointer;
  pointer-events: none;
  width: 1em;
  height: 1em;
}
@media (orientation: portrait) and (max-width: 400px) {
  .message-popup {
    font-size: calc(0.5rem + 1.2vw);
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .message-popup {
    font-size: calc(0.5rem + 1.1vh);
  }
}

.loading-button {
  background-color: #000000;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  transition: 0.3s color;
  font-size: 1.125rem;
  min-width: 5.5em;
  min-height: 1.9em;
  padding: 0.5em;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.6em;
}
.loading-button:disabled {
  pointer-events: none;
  background-color: #e2e1e1;
  color: #000000;
}
.loading-button .buttonSvgLoading {
  width: 1em;
  margin: 0 0.5em 1px 0;
}
@media (orientation: landscape) and (max-height: 400px) {
  .loading-button {
    margin: 0.3em 0;
  }
}
.loading-button:hover:not(.buttonLoading) {
  background-color: #d45287;
}
.menu-button {
  background-color: #000000;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  transition: 0.3s color;
  min-width: 5.5em;
  min-height: 1.9em;
  padding: 0.35em;
  margin: 0.5em 0;
  border-radius: 0 0.6em;
}
.menu-button:disabled {
  pointer-events: none;
  background-color: #e2e1e1;
  color: #000000;
}
@media (orientation: landscape) and (max-height: 400px) {
  .menu-button {
    margin: 0.3em 0;
  }
}
.menu-button.reversed {
  border-radius: 0.6em 0;
}
.menu-button:hover {
  background-color: #d45287;
}
.game-button {
  background-color: #000000;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  transition: 0.3s color;
  border-radius: 2.625em;
  height: 4.1875em;
  width: 4.125em;
  padding: 0;
  display: flex;
  justify-content: center;
}
.game-button:disabled {
  pointer-events: none;
  background-color: #e2e1e1;
  color: #000000;
}
.game-button.small {
  height: 2.5em;
  width: 2.5em;
  font-size: 1em;
}
.game-button:hover,
.game-button.selected {
  background-color: #d45287;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon {
  display: block;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
}
.icon.spinner {
  animation: rotating 2s ease-out infinite;
}

.lobby {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
}
.lobby.hidden {
  visibility: hidden;
  opacity: 0;
}
.lobby .lobby-wrapper {
  height: 25rem;
  max-height: 90%;
  width: 100%;
  max-width: 22.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.lobby .lobby-wrapper .menu-logo {
  font: bold 5.625em "dekiru", corbel, sans-serif;
  margin: 0;
  height: 1em;
  user-select: none;
}
.lobby .lobby-wrapper .loading {
  width: 2em;
}

.column-container {
  display: flex;
  flex-flow: row nowrap;
}
.column-container .column {
  padding: 0 0.625rem;
  display: flex;
  flex-flow: column nowrap;
}

.section {
  box-sizing: border-box;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.45);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: 1.875rem 0;
  padding: 1.25rem;
  background-color: #ecebeb;
  position: fixed;
  max-width: 90%;
  max-height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 31.25rem;
  height: 25rem;
  font-size: 1rem;
  user-select: none;
}
.section .cross {
  position: absolute;
  right: 1em;
  cursor: pointer;
  border: 0;
  background: none;
  transition: 0.5s fill;
  padding: 0.15em;
}
.section .cross svg {
  width: 0.8em;
  height: 0.8em;
}
.section .cross:hover {
  fill: #d45287;
}
.section .header h2 {
  color: #d45287;
  font-size: 1.25em;
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
}
.section .scrollable {
  flex-grow: 2;
  overflow-y: scroll;
}
.section .scrollable p {
  color: #000000;
  margin: 0;
  padding: 0.3125em 0;
}
.section .footer {
  height: 1.4375em;
  padding-top: 1.25em;
}
.section .footer .arrow {
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s fill;
  border: 0;
  background: none;
  display: block;
  padding: 0.15em;
}
.section .footer .arrow svg {
  height: 1em;
  width: 1em;
}
.section .footer .arrow.left {
  transform: rotate(180deg);
}
.section .footer .arrow:hover {
  fill: #d45287;
}
.section a {
  color: #d45287;
  text-decoration: underline;
}

.checkbox-label {
  display: flex;
  align-items: center;
  height: calc(1.3em + 2px);
  margin-bottom: 0.5em;
}
.checkbox-label input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  margin: 0;
  padding: 0;
}
.checkbox-label span {
  position: relative;
  padding-left: 2em;
  height: 100%;
  line-height: 1.5;
  cursor: pointer;
}
.checked.checkbox-label span::after {
  content: "";
}
.checkbox-label span::before,
.checkbox-label span::after {
  position: absolute;
  display: inline-block;
}
.checkbox-label span::before {
  content: "";
  height: 1.3em;
  width: 1.3em;
  border: 1px solid;
  left: 0;
  border-radius: 50em;
}
.checkbox-label span::after {
  content: none;
  height: 0.375em;
  width: 0.5625em;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: calc((1.3em - 0.5625em) / 2);
  top: calc(1.3em / 4);
}

.loginForm {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  padding: 0.625em;
}
.loginForm .row {
  padding: 0.625em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm .row.hidden {
  display: none;
}
.loginForm .row.buttonRow {
  padding: 0 0.625em;
}
.loginForm .row .label {
  display: inline-block;
  width: 5.5em;
}
.loginForm .row .input {
  padding: 0.5em;
  font-size: 0.888em;
  border: 1px solid #9a9a9a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.25em 0;
}
.loginForm .row .input:disabled {
  color: #9a9a9a;
  background-color: #e2e1e1;
}
.loginForm .row .formError {
  font-size: 0.777em;
  color: #c40202;
  font-weight: 600;
}
.loginForm .row .formError.hidden {
  visibility: hidden;
}
.loginForm .row .formSwitch {
  text-decoration: underline;
  font-size: 0.875em;
  border: 0;
  background: none;
}
.loginForm .row .formSwitch.disabled {
  cursor: default;
  color: #9a9a9a;
}
.loginForm .row .formSwitch:hover:not(.disabled) {
  color: #d45287;
}

.game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
}
.game.hidden {
  visibility: hidden;
  opacity: 0;
}
.game-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
@media (orientation: portrait) and (max-width: 400px) {
  .game-wrapper {
    font-size: calc(0.5rem + 1.2vw);
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .game-wrapper {
    font-size: calc(0.5rem + 1.1vh);
  }
}

.side-menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
.side-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  transition: 0.2s ease-in-out;
  pointer-events: all;
}
.hidden .side-menu {
  transform: translateX(-100%);
}
.side-menu .menu {
  background-color: rgba(236, 235, 235, 0.95);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1.25rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.45);
}
.side-menu .menu .side-menu-logo {
  width: 16.25em;
  height: 6.125em;
  font-size: 1rem;
  user-select: none;
}
@media (orientation: landscape) and (max-height: 335px) {
  .side-menu .menu .side-menu-logo {
    font-size: 0.8rem;
  }
}
@media (orientation: portrait) and (max-width: 374px) {
  .side-menu .menu .side-menu-logo {
    font-size: calc(0.26rem + 2.5vw);
  }
}
.side-menu .menu .side-menu-logo text {
  font: bold 5em "dekiru", corbel, sans-serif;
  dominant-baseline: text-before-edge;
}
.side-menu .menu .buttons-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 1.875rem 0;
}
@media (orientation: landscape) and (max-height: 450px) {
  .side-menu .menu {
    justify-content: space-between;
  }
  .side-menu .menu .buttons-wrapper {
    margin: 0;
  }
}
.side-menu .side-menu-button {
  position: absolute;
  left: 110%;
  top: 1.875em;
  fill: black;
  font-size: 1rem;
  border: 0;
  background: none;
  padding: 0 0.1875em;
}
.side-menu .side-menu-button svg {
  width: 2em;
  height: 2em;
}
@media (hover: hover) {
  .side-menu .side-menu-button :hover {
    cursor: pointer;
    fill: #d45287;
  }
}
@media (orientation: portrait) and (max-width: 400px) {
  .side-menu .side-menu-button {
    font-size: 0.8rem;
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .side-menu .side-menu-button {
    font-size: 0.8rem;
  }
}
.side-menu-overlay {
  width: 100%;
  height: 100%;
  pointer-events: all;
}
.opened .side-menu-overlay {
  background-color: rgba(236, 235, 235, 0.5);
}
.hidden .side-menu-overlay {
  display: none;
}

.sudoku {
  border: 2px solid black;
  border-collapse: collapse;
}
.sudoku tr:nth-of-type(3n) td {
  border-bottom: 2px solid black;
}
.sudoku tr td {
  border: 1px solid black;
  padding: 0;
  width: 2.1875em;
  height: 2.1875em;
  overflow: hidden;
}
.sudoku tr td:nth-of-type(3n) {
  border-right: 2px solid black;
}

textarea {
  text-align: center;
  padding: 0;
  resize: none;
  vertical-align: middle;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 100%;
}
textarea:focus {
  outline: 0;
}
.pencil {
  font-size: 1.4em;
  letter-spacing: 0;
  line-height: 1.5625em;
  background-color: #ffffff;
}
.readOnly {
  font-size: 1.4em;
  letter-spacing: 0;
  line-height: 1.5625em;
  background-color: #e2e1e1;
  cursor: default;
}
.notes {
  font-size: 0.7em;
  letter-spacing: 0.3em;
  line-height: 1;
  background-color: #ffffff;
}
.highlight {
  background-color: #f8c9dc;
}
.error {
  line-height: calc(1.5625em - (4px * 2));
  border: 4px solid #c40202;
}
.disabled {
  cursor: default;
}

.game-buttons {
  display: flex;
  margin-top: 1.25em;
  border: 1px solid;
  border-radius: 62.5em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.game-buttons span {
  height: 2em;
  width: 3.75em;
  color: #000000;
  z-index: 5;
  vertical-align: middle;
  line-height: 2em;
  text-align: center;
  border-radius: 50em;
  font-size: 1.25em;
}
.game-buttons .slider {
  position: absolute;
  height: 2.5em;
  width: 4.6875em;
  background-color: rgba(212, 82, 135, 0.6);
  border-radius: 2.625em;
  transition: 0.3s;
}
.game-buttons .slider.notes-slider {
  transform: translateX(100%);
}
@media (hover: hover) {
  :hover.game-buttons .slider {
    background-color: rgba(212, 82, 135, 0.4);
    transform: scaleX(1.1);
    transform-origin: left;
  }
  :hover.game-buttons .slider.notes-slider {
    transform: scaleX(1.1) translateX(90%);
    transform-origin: right;
  }
}

@font-face {
  font-family: "dekiru";
  src: url(Dekiru.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font: 16px "dekiru", corbel, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #ecebeb no-repeat center / cover url(images/background.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root {
  background-color: rgba(236, 235, 235, 0.4);
  width: 100%;
  height: 100%;
}
input:focus:not(:disabled):not(.disabled),
button:focus:not(:disabled):not(.disabled),
a:focus:not(:disabled):not(.disabled) {
  outline: 3px solid rgba(212, 82, 135, 0.6);
}
button {
  font: 1.25rem "dekiru", corbel, sans-serif;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media (orientation: landscape) and (max-height: 335px) {
  button {
    font-size: 1.1rem;
  }
}
a {
  color: #000000;
  text-decoration: none;
}
@media (hover: hover) {
  a:hover {
    color: #d45287;
    text-decoration: underline;
  }
}
svg text {
  user-select: none;
}


/*# sourceMappingURL=main.7557cb3f7fe655f590e8.css.map*/