.menu-logo {
  font: bold 5.625em "dekiru", corbel, sans-serif;
  margin: 0;
  height: 1em;
}

.loading {
  width: 2em;
}

.column-container {
  display: flex;
  flex-flow: row nowrap;

  .column {
    padding: 0 0.625rem;
    display: flex;
    flex-flow: column nowrap;
  }
}
