@height: 37px;

#cell-mixin() {
	border: none;
	width: @height;
	height: @height;
	box-sizing: border-box;
}

.pencil{
	#cell-mixin();
	font-size: 22px;
	letter-spacing: 0;
	line-height: @height;
	background-color:#FFFFFF;
}
.readOnly{
	#cell-mixin();
	font-size: 22px;
	letter-spacing: 0;
	line-height: @height;
	background-color:#FFC2F1;
	cursor:default;
}
.notes{
	#cell-mixin();
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 3px;
	background-color:#FFFFFF;
}

.highlight{
	background-color:#FFCE70;
}

.error{
	line-height: @height - (4px * 2);
	border: 4px solid #F75B5B;
}
