.pencil{
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 0;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFFFFF;
}
.readOnly{
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 0;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFC2F1;
	cursor:default;
}
.notes{
	font-size: 12px;
	line-height: 1em;
	letter-spacing: 3px;
	border: none;
	width:37px;
	height:37px;
	background-color:#FFFFFF;
}

.highlight{
	background-color:#FFCE70;
}

.error{
	line-height: 29px;
	border: 4px solid #F75B5B;
	width:29px;
	height:29px;
}
