@import "./colors";

@height: 37px;

#cell-mixin() {
	border: 0;
	width: @height;
	height: @height;
	box-sizing: border-box;
}

.pencil {
	#cell-mixin();
	font-size: 22px;
	letter-spacing: 0;
	line-height: @height;
	background-color: @whiteColor;
}

.readOnly {
	#cell-mixin();
	font-size: 22px;
	letter-spacing: 0;
	line-height: @height;
	background-color: @menuLightColor;
	cursor: default;
}

.notes {
	#cell-mixin();
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 3px;
	background-color: @whiteColor;
}

.highlight {
	background-color: @gameLightColor;
}

.error {
	line-height: @height - (4px * 2);
	border: 4px solid @errorColor;
}
