.game {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&.hidden {
		display: none;
	}
}

.game-wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;

	.coorX {
		&.hidden {
			visibility: hidden;
		}

		table {
			border: 2px solid transparent;
			border-collapse: collapse;
			background-color: transparent;

			td {
				border: 1px solid transparent;
				padding: 0;
				font-size: 22px;
				width: 37px;
				height: 37px;
				text-align: center;

				&:nth-of-type(3n) {
					border-right: 2px solid transparent;
				}
			}
		}
	}

	.center {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: center;

		.coorY {
			&.hidden {
				visibility: hidden;
			}

			table {
				border: 2px solid transparent;
				border-collapse: collapse;
				background-color: transparent;

				tr:nth-of-type(3n) td {
					border-bottom: 2px solid transparent;
				}

				td {
					border: 1px solid transparent;
					padding: 0;
					font-size: 22px;
					width: 37px;
					height: 37px;
					text-align: center;
				}
			}
		}

		.sudoku {
			border: 2px solid black;
			border-collapse: collapse;

			tr {
				&:nth-of-type(3n) td {
					border-bottom: 2px solid black;
				}

				td {
					border: 1px solid black;
					padding: 0;

					&:nth-of-type(3n) {
						border-right: 2px solid black;
					}

					textarea {
						text-align: center;
						padding: 0;
						resize: none;
						vertical-align: middle;

						&:focus {
							outline: 0;
						}
					}
				}
			}
		}

		.dummy-block {
			width: 41px;
			height: 347px;
		}
	}

	.game-buttons {
		padding: 1.25rem;

		input {
			margin: 0 0.625rem;
		}
	}
}
