@import "./colors";

.lobby {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&.hidden {
		display: none;
	}
}

.lobby-wrapper {
	height: 27rem;
	width: 75rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: center;

	.lobby-content-box {
		box-sizing: border-box;
		padding: 1.25rem;
		flex: 1 33%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;
	}

	.menu {
		flex: 2 33%;

		.column {
			display: inline-block;
			padding: 0 0.625rem;

			input {
				margin: 0.625rem 0;
			}
		}
	}

	.menu-content {
		.menu-content-wrapper {
			h2 {
				color: @menuDarkColor;
				font-size: 1.25rem;
				text-align: center;
				margin: 0;
				padding-bottom: 20px;
			}

			p {
				color: @blackColor;
				text-align: justify;
				margin: 0;
				padding: 0.3125rem 0;
			}

			&.hidden {
				display: none;
			}

			&.about {
				.section {
					display: flex;
					flex-flow: column nowrap;
					justify-content: space-between;

					&.hidden {
						display: none;
					}

					// .scrollable {
					// 	overflow-y: scroll;
					// 	height: 10%;
					// }

					.columns {
						display: flex;
						flex-flow: row nowrap;
						justify-content: space-between;

						.column {
							padding: 0 0.625rem;
						}
					}

					.arrow {
						height: 30px;
						width: 30px;
						border-radius: 10px;
						border: 0;
					}

					#arrowRightButton {
						background-image: url("../images/rightarrow.png");
						background-size: contain;
					}

					#arrowLeftButton {
						background-image: url("../images/leftarrow.png");
						background-size: contain;
					}
				}
			}
		}

	}
}
/*END START PAGE*/
