@import "./colors";

.message-popup {
    position: absolute;
    top: 11.21875rem;
    right: 9rem;
	padding: 1.25rem;
	width: 16.25rem;
	background-color: @cellDisabledColor;
    border-radius: 0.937rem 0;
    box-shadow: 0 0 1.25rem;
    text-align: center;

    &.hidden {
        display: none;
    }

    .message {
        font-size: 1.25rem;
        color: @blackColor;
        cursor: default;
    }

    #okButton {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1rem;
    }
}
