@import "../../../styles/colors";

.side-menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

.side-menu {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  transition: 0.2s ease-in-out;
  pointer-events: all;

  .hidden & {
    transform: translateX(-100%);
  }

  .menu {
    background-color: fade(@popupBackgroundColor, 95%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1.25rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.45);

    .side-menu-logo {
			width: 16.25em;
      height: 6.125em;
      font-size: 1rem;

      @media (orientation: landscape) and (max-height: 335px) {
        font-size: 0.8rem;
      }

      @media (orientation: portrait) and (max-width: 374px) {
        font-size: calc(0.26rem + 2.5vw);
      }

			text {
				font: bold 5em "dekiru", corbel, sans-serif;
				dominant-baseline: text-before-edge;
			}
		}

    .buttons-wrapper {
      display: flex;
      flex-flow: column nowrap;
      margin: 1.875rem 0;
    }

    @media (orientation: landscape) and (max-height: 450px) {
      justify-content: space-between;

      .buttons-wrapper {
        margin: 0;
      }
    }
  }

  .side-menu-button {
    position: absolute;
    left: 110%;
    top: 1.875em;
    height: 2rem;
    fill: black;
    font-size: 1rem;

    svg {
      width: 2em;
      height: 2em;
    }

    @media (hover: hover) {
      :hover {
        cursor: pointer;
        fill: @pinkColor;
      }
    }

    @media (orientation: portrait) and (max-width: 400px) {
      font-size: 0.8rem;
    }

    @media (orientation: landscape) and (max-height: 450px) {
      font-size: 0.8rem;
    }
  }
}

.side-menu-overlay {
  width: 100%;
  height: 100%;
  pointer-events: all;

  .opened & {
    background-color: fade(@popupBackgroundColor, 50%);
  }

  .hidden & {
    display: none;
  }
}
