@import "../../../styles/colors";

.side-menu {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    transition: 0.2s ease-in-out;

    &.hidden {
        transform: translateX(-18.75rem);
    }

    .menu {
        background-color: fade(@cellDisabledColor, 80%);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 1.25rem;
        box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.45);

        .side-menu-logo {
			width: 16.25rem;
			height: 5.625rem;

			text {
				font: bold 5rem "dekiru", corbel, sans-serif;
				transform: translate(0, 4.5rem);
			}
		}

        .buttons-wrapper {
            display: flex;
            flex-flow: column nowrap;
            margin: 1.875rem 0;
        }
    }

    .side-menu-button {
        position: relative;
        left: 2.5rem;
        top: 1.875rem;
        height: 2.5rem;
        fill: black;

        :hover {
            cursor: pointer;
            fill: @pinkColor;
        }

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}
